<section>

<fieldset>
  <label>Pitching</label>
  {{input type="text" value=model.pitching}}
</fieldset>
<fieldset>
  <label>Batting</label>
  {{input type="text" value=model.atBat}}
</fieldset>

<button {{action 'update'}}>Update</button>

</section>