<fieldset>
  {{input type="text" action='post' value=model.message class="narrow"}}
  <button {{action 'post'}} class="large">Post</button>
</fieldset>

<div class="messages margin-bottom">
  {{#each message in model}}
    <p>{{message.message}}</p>
  {{/each}}
</div>

{{#link-to 'index'}}<button class="large">Scoreboard</button>{{/link-to}}