<fieldset>
  {{input type="text" action='post' value=model.message class="narrow"}}
  <button {{action 'post'}} class="large">Post</button>
</fieldset>

<div class="messages">
  {{#each message in model}}
    <p><strong>{{message.timestamp}}</strong>{{message.message}}</p>
  {{/each}}
</div>
